<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParameterSuite">

    <test name="DemoblazeTest">

        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.demoblaze.com/"/>

       
        <parameter name="validUser" value="vithyamurugesan"/>
        <parameter name="validPass" value="1234"/>

        <parameter name="emptyUser" value=""/>
        <parameter name="emptyPass" value=""/>

   
        <parameter name="wrongUser" value="vithyamurugesan"/>
        <parameter name="wrongPass" value="wrong123"/>

        <classes>
            <class name="testng.ParameterPassing"/>
        </classes>

    </test>

</suite>


